.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}
li {
  font-size: medium;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 h1 {
    background-color: green;
    color: whitesmoke;
    animation-name: h1;
    animation-duration: 5s;
  }  

  @keyframes h1 {
    0% {background-color: green;}
    25% {background-color: blue;}
    50% {background-color: pink;}
    75% {background-color: aqua;}
    100% {background-color: indigo;}
  }
  
h3 {
  font-size: large;
  color: black;
  background-color: rgb(138, 160, 93);
  font-size: large;
  font-style: italic;
}

strong {
  color: aqua;
}
ul {
  list-style-type: none;


}
li:hover {
  background-color: rgb(121, 84, 40);
  color: black;
}
h5 {
  background-color: gold;
  color: indigo;
}
h5:hover {
  background-color: green;
  color: white;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
